 p {
   body style {
      display: block;
      background: #333;
      color: white;
      font: 13px/1.8 Monaco, Mono-Space;
      padding: 20px;
      white-space: pre;
   }
body {
    background: none;
    background-blend-mode: color-dodge;
    background-color: gold;
}
img {
    height: 500px;
    float: left;
}   
