h1 {
    color: rgb(14, 2, 26);
    text-decoration: blueviolet;
}
body {
    margin: 0%;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    color: honeydew;
    background linear gradient (-45 deg)
    background-size: 400% 400%;
    animation : gradient BG 15,ease infinite;
}